<template>
    <div class="job-li">
        <p>Ordered by {{order}}</p>
        <ul>
            <li v-for="job in orderedJobs" :key="job.id">
                <h2>{{job.title}} in {{job.location}}</h2>
                <div class="salary">
                    <p>$ {{job.salary}}</p>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto unde quod porro consequuntur sit voluptatum praesentium in, ipsum amet repudiandae placeat dolores, vero non adipisci. Fugiat laboriosam labore id provident.</p>
                </div>
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from 'vue'
import Job from '@/types/Job';
import OrderTerm from '@/types/OrderTerm';

export default defineComponent({
    props: {
        jobs: {
            required: true,
            type: Array as PropType<Job[]>
        },
        order: {
            required: true,
            type: String as PropType<OrderTerm>
        }
    },
    setup(props) {
        const orderedJobs = computed(() => {
            return [...props.jobs].sort((a: Job,b: Job) => {
                return a[props.order] > b[props.order] ? 1 : -1; 
                // if true return 1, if false -1
            }); 
        })
    
    return {orderedJobs}
    }
    
})
</script>

<style scoped>
</style>
