<template>
    <div class="navbar">
        <ul>
            <li v-for="item in navList" :key="item.name">
                <a :href=item.url>{{item.name}}</a>
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import NavLink from '@/types/NavLink';

export default defineComponent({
    setup() {
        const navList = ref<NavLink[]>([
            {url: "#", name: "home"},  
        ])

    return {navList}
    }
})
</script>

<style scoped>
</style>
