<template>
<div class="app"> 
  <NavBar />
  <button @click="handleClick('title')">Order by Title</button>
  <button @click="handleClick('salary')">Order by Salary</button>
  <button @click="handleClick('location')">Order by Location</button>
  <JobList :jobs="jobs" :order="order"/>
</div>
</template> 

<script lang="ts">
import { defineComponent, reactive, ref, toRefs } from 'vue';
import JobList from './components/JobsList.vue';
import Job from './types/Job';
import OrderTerm from './types/OrderTerm'; 
import NavBar from './components/NavBar.vue';

export default defineComponent({
  name: 'App',
  components: {JobList, NavBar},
  setup() {
    // use reactives
    // const state = reactive({
    //   name: "Link",
    //   age: 25 as string | number
    // });

    // return {...toRefs(state)}


    // use refs
    // const name = ref('Link');
    // const age = ref<number | string>(25);

    // return {name,age}

    const jobs = ref<Job[]>([
      {title: "Hamster Owner", location: "Hamsterdam", salary: 100000,  id: 1},
      {title: "Hamster Friend", location: "Hamerica", salary: 200000,  id: 2},
      {title: "Hamster Lover", location: "Hamburger", salary: 300000,  id: 3},
      {title: "Hamster Facebook Manager", location: "Hamaica", salary: 400000,  id: 4},
      {title: "Hamster Sitter", location: "Hamxico", salary: 500000,  id: 5}
    ])

    const order = ref<OrderTerm>('title');

    const handleClick = (term: OrderTerm) => {
      order.value = term;
    }

    return {jobs, handleClick, order};
  }
  // methods: {
  //   changeName(name: string) {
  //     this.name = name;
  //     return name;
  //   },
  //   changeAge(age: string | number) {
  //     this.age = age;
  //     return age;
  //   }
  // }
});
</script>

<style>
</style>
